python_interpreter_path=/your/absolute/path/to/python/interpreter
python_scripts_path=/python_scripts
python_biofilm_script=biofilm_detection_java.py
python_extraction_script=watershed_extraction.py
python_classification_script=classificatore.py