.tab{
  -fx-background-color: #f49842;
  -fx-pref-width : 200;
  -fx-pref-height: 30;
}

.tab-header-background{
 -fx-background-color: #f49842;
}



.jfx-tab-pane .tab-selected-line {
  -fx-stroke: #f49842;
 }


/*
.jfx-tab-pane .tab-selected-line
{
-fx-border-color: #f49842;
}﻿
*/


.menu-item:disabled {
    -fx-opacity: 1.0;
}

.menu-item:disabled .label {
    -fx-opacity: 1.0;
}

.context-menu-title:disabled:hover {
    -fx-background-color: white;
}

.context-menu-title:disabled:hover .label {
    -fx-background-color: white;
    -fx-text-fill: black;
}